<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span6">{% include 'dnevnik.html' %}</div>
                <div class="span6">
                    <img class="img-rounded" src="/static/img/IV04.jpg" class="img-responsive" alt="IV-04">
                    {% include 'dolaze.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <form class="form-horizontal" action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <div class="control-group{% if form.post.errors %} error{% endif %}">
            <label class="control-label" for="post">{{ _('Kaži nešto:') }}</label>

            <div class="controls">
                {{ form.post(size=30, maxlength=140) }}
                {% for error in form.post.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="{{ _('Pošalji!') }}">
            </div>
        </div>
    </form>
</div>
{% for post in posts.items %}
{% include 'post.html' %}
{% endfor %}
<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('index', page=posts.prev_num) }}">{{ _('Novija slanja') }}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">{{ _('Novija slanja') }}</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="next"><a href="{{ url_for('index', page=posts.next_num) }}">{{ _('Starija slanja') }}</a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{ _('Starija slanja') }}</a></li>
    {% endif %}
</ul>
{% endblock %}
