<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span6">
                    <p>Na zahtjev naših prijatelja koji žive u inostranstvu odlučili smo da organizujemo i proširenu
                        proslavu. Naime našim prijateljima iz inostranstva jedan dan proslave je bio malo i oni su
                        poželjeli da se proslava proširi na više dana. Proširena proslava će se održati u subotu
                        25.07.2015. i nedelju 26.07.u u hotelu Termag na Jahorini </p>

                    <p>Hotel Termag pruža pravo bogastvo sadržaja za odmor i zabavu</p>

                </div>
                <div class="span6">
                    <img src="/static/img/HotelEurope.jpg" class="img-circle" class="img-responsive"
                         alt="Treća gimnazija">
                    <img src="/static/img/BeckiRestoran.jpg" class="img-circle" class="img-responsive"
                         alt="Treća gimnazija">

                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <div class="control-group{% if form.post.errors %} error{% endif %}">
            <label class="control-label" for="post">{{ _('Kaži nešto:') }}</label>

            <div class="controls">
                {{ form.post(size=30, maxlength=140) }}
                {% for error in form.post.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="{{ _('Pošalji!') }}">
            </div>
        </div>
    </form>
</div>
{% for post in posts.items %}
{% include 'post.html' %}
{% endfor %}
<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('index', page=posts.prev_num) }}">{{ _('Novija slanja') }}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">{{ _('Novija slanja') }}</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="next"><a href="{{ url_for('index', page=posts.next_num) }}">{{ _('Starija slanja') }}</a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{ _('Starija slanja') }}</a></li>
    {% endif %}
</ul>
{% endblock %}
