<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span6">
                    <p>Ovo je internet stranica bivših maturanata koji su završili III gimnaziju u
                        Sarajevu 1980. godine.</p>

                    <p>Namjena stranice je uspostavljanje pokidanih veza između bivših maturanata kao i pomoć pri
                        organizaciji proslava godišnjica od mature.</p>

                    <p>Ove godine slavimo 35 godina od mature. Proslava će se održati 24.07.2015. u 20:00 u hotelu
                        Europe u Sarajevu. Naravno, prije proslave, u 18:00 ćemo se okupiti u dvorištu naše III
                        gimazije. Dolazak svakog našeg prijatelja iz generacije će nas veoma obradovati. Želja nam je da
                        nas bude što više
                        na proslavi.</p>

                    <p>Na stranicu ćemo postavljati stare fotografije koje će nas podsjetiti kakvi smo nekada bili i
                        nove fotografije koje će našim prijateljima širom svijeta pokazati kakvi smo sada i lijepe
                        trenutke sa naših zajedničkih proslava i ostalih druženja. Drago će nam biti da nam pošaljete
                        svoje komentare, ideje, primjedbe, sugestije ... Sve što pošaljete pokušaćemo ugraditi na našu
                        internet stranicu.
                    </p></div>
                <div class="span6">
                    <img src="/static/img/IIIgimnazija.jpg" class="img-circle" class="img-responsive"
                         alt="Treća gimnazija">
                    <p>                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <div class="control-group{% if form.post.errors %} error{% endif %}">
            <label class="control-label" for="post">{{ _('Kaži nešto:') }}</label>

            <div class="controls">
                {{ form.post(size=30, maxlength=140) }}
                {% for error in form.post.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="{{ _('Pošalji!') }}">
            </div>
        </div>
    </form>
</div>
{% for post in posts.items %}
{% include 'post.html' %}
{% endfor %}
<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('index', page=posts.prev_num) }}">{{ _('Novija slanja') }}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">{{ _('Novija slanja') }}</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="next"><a href="{{ url_for('index', page=posts.next_num) }}">{{ _('Starija slanja') }}</a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{ _('Starija slanja') }}</a></li>
    {% endif %}
</ul>
{% endblock %}
